<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
 <dict>
  <key>items</key>
  <dict>
   <key>assets</key>
   <array>
    <dict>
     <key>kind</key>
     <string>software-package</string>
     <key>url</key>
     <string>https://tj-ctfs.ftn.qq.com/ftn_handler/e624759169307871b71744f628768086479b41513a847d2b53342a1317d0cf6a765647f55fd7eddc76730403ace44aeaa012a0dc839c1090b706c15d76e8025d/?fname=QQ%E6%B5%8F%E8%A7%88%E5%99%A8%208.0.0.ipa&amp;k=26656637bcfba9cb88aa5d261037001d02005e0300030b514c5d0351571a065350004b0f0f02061f53555352030e01065856040f362532633081c9f7f6f1c512594b561906195b4200655b&amp;code=aef76722&amp;fr=00&amp;txf_fid=d3a5ea4b387d829e28165bfb64ddaa1ad9706a3f&amp;xffz=107230070</string>
    </dict>
    <dict>
     <key>kind</key>
     <string>display-image</string>
     <key>need-shine</key>
     <integer>0</integer>
     <key>url</key>
     <string>http://m.120mm.cn/Public/picture/ico.jpg</string>
    </dict>
   </array>
   <key>metadata</key>
   <array>
    <dict>
     <key>bundle-identifier</key>
     <string>com.zhuanyejun.club</string>
     <key>bundle-version</key>
     <string>1.0.0</string>
     <key>kind</key>
     <string>software</string>
     <key>title</key>
     <string>小木虫</string>
    </dict>
   </array>
  </dict>
 </dict>
</plist>